<section class="homePage container">
  <div class="home-left-side">
    <h1>Huge selection of delicios recipe ideas</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ut natus
      tempore deleniti culpa sapiente, saepe, rerum id expedita itaque in nisi
      vero amet perspiciatis harum deserunt totam debitis? Repellendus?
    </p>
    <div class="home-btn">
      <a href="/explore-latest" class="black">Explore Latest</a>
      <a href="/random-recipe" class="nav-link">Show Random</a>
    </div>
  </div>
  <div class="home-right-side">
    <img src="/img/hero-image.png" alt="" width="440" />
  </div>
</section>

<section class="category container">
  <a class="category-item">
    <img src="/img/american-food.jpg" alt="" />
    <p>American food</p>
  </a>
  <a class="category-item">
    <img src="/img/american-food.jpg" alt="" />
    <p>American food</p>
  </a>
  <a class="category-item">
    <img src="/img/american-food.jpg" alt="" />
    <p>American food</p>
  </a>
  <a class="category-item">
    <img src="/img/american-food.jpg" alt="" />
    <p>American food</p>
  </a>
  <a class="category-item">
    <img src="/img/american-food.jpg" alt="" />
    <p>American food</p>
  </a>
  <a class="category-item" href="/categories">
    <img src="/img/view-all.jpg" alt="" />
    <p>View All</p>
  </a>
</section>
