<section class="homePage container">
  <div class="home-left-side">
    <h1>Huge selection of delicios recipe ideas</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ut natus
      tempore deleniti culpa sapiente, saepe, rerum id expedita itaque in nisi
      vero amet perspiciatis harum deserunt totam debitis? Repellendus?
    </p>
    <div class="home-btn">
      <a href="/explore-latest" class="black">Explore Latest</a>
      <a href="/random-recipe" class="nav-link">Show Random</a>
    </div>
  </div>
  <div class="home-right-side">
    <img src="/img/hero-image.png" alt="" width="440" />
  </div>
</section>

<section class="category container">
  <% if(category!=" "){ category.forEach((val,index)=>{ %>
  <a class="category-item" href="<%- (val.name).split(" ")[0] %>">
    <img src="/img/<%- val.img %>" alt="" />
    <p><%- val.name %></p>
  </a>
  <%}) }%>

  <a class="category-item" href="/categories">
    <img src="/img/view-all.jpg" alt="" />
    <p>View All</p>
  </a>
</section>

<section class="latest container">
  <div class="latest-title">
    <p>Latest Recipes</p>
    <a href="/explore-latest">View more</a>
  </div>
  <div class="latest-recipe">
    <a class="category-item" href="/recipe/#">
      <img src="/img/chocolate-banoffe-whoopie-pies.jpg" alt="" />
      <p>Chocolate Banoffe</p>
    </a>
    <a class="category-item" href="/recipe/#">
      <img src="/img/chocolate-banoffe-whoopie-pies.jpg" alt="" />
      <p>Chocolate Banoffe</p>
    </a>
    <a class="category-item" href="/recipe/#">
      <img src="/img/chocolate-banoffe-whoopie-pies.jpg" alt="" />
      <p>Chocolate Banoffe</p>
    </a>
    <a class="category-item" href="/recipe/#">
      <img src="/img/chocolate-banoffe-whoopie-pies.jpg" alt="" />
      <p>Chocolate Banoffe</p>
    </a>
    <a class="category-item" href="/recipe/#">
      <img src="/img/chocolate-banoffe-whoopie-pies.jpg" alt="" />
      <p>Chocolate Banoffe</p>
    </a>
  </div>
</section>

<section class="submit">
  <div class="submit-image">
    <img src="/img/publish-recipe.png" alt="" />
  </div>
  <div class="submit-info">
    <h1>Publish your recipe for FREE today</h1>
    <p>Publish your Recipe in front of thousands of people for free</p>
  </div>
  <div class="home-btn orta" id="one">
    <a href="/submit" class="black">Submit Recipe</a>
  </div>
</section>
